/* FORM */
div#form-wrap {
    transition: ease .2s;
    position: fixed; 
    overflow: hidden;
    overflow-y: auto;
    background: #ed1c23;
    height: 100%;
    width: 100%; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99999999;
}
 
#close-modal {
  transition: ease .2s;
    position: absolute;
    right: 0;
    margin: 15px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 9999999999999;
}

#close-modal:hover {
    color: black;
}

.form-open{
    top: 0 !important;
}

form#register-form {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 50px;
}

#register-form input {
    border-radius: 0;
    border: none;
    padding: 12px;
    opacity: .8;
    transition: ease .2s;
    outline: none !important;
    box-shadow: none;
}

#register-form input:focus {
    opacity: 1;
}
 